# ===============================
# Xcode
# ===============================
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/**

# User-specific Xcode files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# ===============================
# Swift Package Manager
# ===============================
.build/
Package.resolved


# ===============================
# Logs & temp files
# ===============================
*.log
*.tmp
*.swp
.DS_Store

# ===============================
# Environment / Secrets
# ===============================
.env
.env.*

# ===============================
# Playgrounds
# ===============================
timeline.xctimeline
playground.xcworkspace

# ===============================
# Archives
# ===============================
*.ipa
*.dSYM.zip
*.dSYM